.secao-contato {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 100px 20px;
    background-color: #05031b;
}

.box-contatos {
    display: flex;
    justify-content: center;

}

.contato {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: flex-start;
}

.box-icone {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.box-icone img {
    width: 18px;
}

.box-icone p {
    font-size: 14px;
    margin: 0 0 0 10px;
}

@media(max-width: 768px) {
    .secao-contato {
        padding: 60px 20px;
    }
}

@media (max-width: 550px) {
    .secao-contato {
        padding: 60px 10px;
    }
    .box-contatos {
        flex-direction: column;
    }
    .contato {
        justify-content: center;
        align-items: center;
    }
    .box-icone {
        width: 150px;
    }
}